<%= link_to_function(I18n.t('song.sidebar.check'), 'new DuplicateManager("#check_duplicate_container");') %>
<div id="check_duplicate_container">
  <%= form_for Song.search, url: collection_path(format: :json),
       as: :q,
       remote: true,
       builder: ActiveAdmin::Filters::FormBuilder,
       html: { method: :get, class: 'filter_form find_duplicate' } do |f| %>

      <%= f.input :name_or_artist_contains, as: :string %>

      <%= f.submit I18n.t('active_admin.filters.buttons.filter'), class: 'submit_button' %>
  <% end %>

  <%= form_tag remove_duplicates_admin_songs_path(format: :js), remote: true do %>
      <div class="songs_container">
        <table>
          <thead>
          <tr>
            <th>Artist</th>
            <th>Name</th>
            <th>Status</th>
            <th>Images</th>
            <th>Video Links</th>
            <th>Selected</th>
            <th>Primary</th>
          </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <div class="actions"><%= submit_tag 'Remove Duplicates' %></div>
  <% end %>
</div>

<script id="songNoResultsTmpl" type="text/x-jquery-tmpl">
    <tr>
        <td colspan="7" class="no-results">No results</td>
    </tr>
</script>

<script id="songTmpl" type="text/x-jquery-tmpl">
    <tr>
        <td>${artist}</td>
        <td>${name}</td>
        <td>${status}</td>
        <td>${image_count}</td>
        <td>${video_link_count}</td>
         <td><%= check_box_tag('song_ids[]', j('${id}'))  %></td>
        <td><%= radio_button_tag('primary_id', j('${id}'))  %></td>
    </tr>
</script>