@import "active_admin/mixins";
@import "active_admin/base";
@import "select2";

.attributes_table{
  .index_table{
    th{
      background: #efefef;
      background: -webkit-linear-gradient(-90deg, #efefef, #dfe1e2);
      background: -moz-linear-gradient(-90deg, #efefef, #dfe1e2);
      background: linear, -90deg, #efefef, #dfe1e2;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEFEFEF', endColorstr='#FFDFE1E2');
      -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEFEFEF', endColorstr='#FFDFE1E2');
      text-shadow: white 0 1px 0;
      border: solid 1px #cdcdcd;
      border-color: #d4d4d4;
      border-top-color: #e6e6e6;
      border-right-color: #d4d4d4;
      border-bottom-color: #cdcdcd;
      border-left-color: #d4d4d4;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px white inset;
      font-size: 1.0em;
      font-weight: bold;
      line-height: 18px;
      margin-bottom: 0.5em;
      color: #5e6469;
      padding: 5px 10px 3px 10px;
      border-right: none;
      text-align: left;
      padding-left: 12px;
      padding-right: 12px;
    }
    tbody{
      td.col-image{
        text-align: center;
      }
    }
  }
}

#check_duplicate_container{
  display: none;
  .songs_container{
    margin: 10px 0;
    max-height: 270px;
    overflow: auto;
    background-color: white;
    table{
      margin-bottom: 0;
      .no-results{
        text-align: center;
      }
    }
  }

  .actions{
    display: none;
    text-align: right;
  }

  form.find_duplicate{
    .filter_form_field{
      width: 300px;
      display: inline-block;
    }

    .submit_button{
      margin-left: -50px;
    }
  }
}

.active_admin_dialog.ui-dialog {
  .ui-dialog-titlebar-close { display: none }
}

.sidebar_section {
  .select2-container {
    width: 240px;
  }

  .select_and_search{
    .select2-container {
      width: 108px;
    }
  }
}

.cke_chrome {
  width: 79.5% !important;
  overflow: hidden;
}


